section{
    padding: 2em 1.8em;
}

section h1{
    font-weight: 600;
    font-size: 2em;
}

section article{
    font-size: 1.2em;
    line-height: 1.2em;
}

section details{
    margin: 1em;
}

section summary{
    font-weight: 600;
    font-size: 1.2em;
}

section details ul{
    margin-top: 0.2em;
}

section details li{
    font-size: 1.1em;
    line-height: 1.6em;
}

section details table{
    margin: 0.2em 0.5em;
}

section table td{
    padding: 0 0.5em;

    font-size: 1.1em;
}
